{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(formUser) }}
            <div class="form-group row">
                <div class="mb-4 mb-3 d-flex">
                    {{ form_label(formUser.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'w-25'}})}}
                    {{ form_widget(formUser.username, {'attr': {'class': "form-control w-25"}})}}
                </div>
                <div class="text-danger">
                    {{ form_errors(formUser.username) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-4 mb-3 d-flex">
                    {{ form_label(formUser.password.first, 'Mot de passe', {'label_attr': {'class': 'w-25'}})}}
                    {{ form_widget(formUser.password.first, {'attr': {'class': "form-control w-25"}})}}
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-4 mb-3 d-flex">
                    {{ form_label(formUser.password.second, 'Confirmation du mot de passe', {'label_attr': {'class': 'w-25'}})}}
                    {{ form_widget(formUser.password.second, {'attr': {'class': "form-control w-25"}})}}
                </div>
                <div class="text-danger">
                    {{ form_errors(formUser.password.first) }}
                    {{ form_errors(formUser.password) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-4 mb-3 d-flex">
                    {{ form_label(formUser.email, 'Adresse email', {'label_attr': {'class': 'w-25'}})}}
                    {{ form_widget(formUser.email, {'attr': {'class': "form-control w-25"}})}}
                </div>
                <div class="text-danger">
                    {{ form_errors(formUser.email) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-4 mb-3 d-flex">
                    {{ form_label(formUser.role, 'Role', {'label_attr': {'class': 'w-25'}})}}
                    {{ form_widget(formUser.role, {'attr': {'class': "form-control w-25"}})}}
                </div>
                <div class="text-danger">
                    {{ form_errors(formUser.role) }}
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5"
                    value="Ajouter">
            </div>
        {{ form_end(formUser) }}
    </div>
{% endblock %}
